<!doctype html>

  <head>
    <meta charset="utf-8">
    <meta name="description" content="Understanding the Stellar Network">
    <meta name="author" content="Diego Alonso">
    <title>{% block page_title %}Understanding the Stellar Network{% endblock %}</title>

    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
  </head>

  <body class="box">

    <nav class="nav-menu">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="https://github.com/etale-cohomology/stellar-tutorials">Source</a></li>
        <li><a href="https://stellar.org">stellar.org</a></li>
      </ul>
    </nav>

    <div class="{% block content_class %}container{% endblock content_class %}">
      <div class="content" role="main">
        {% block content %}{% endblock %}
      </div>
    </div><!-- end container -->

  </body>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
